div.ui.menu-padding.menu {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #2185d0;
    color: white;
}

div.ui.inverted.menu-padding.menu div.item a h3.ui.header {
    color: white;
    font-weight: 200;
}

.header-search {
    width: 450px;
    // FIXME: Center me
}

div.ui.menu-padding.menu div a.item.sidebar-button-padding {
    padding-bottom: 20px;
}