div.ui.menu-padding.menu {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(0, 160, 220);
}

.header-search {
    width: 300px;
}

div.ui.menu-padding.menu div a.item.sidebar-button-padding {
    padding-bottom: 20px;
}