div.ui.menu-padding.menu {
    margin-top: 0px;
    margin-bottom: 0px;
}

.header-search {
    width: 300px;
}

div.ui.menu-padding.menu div a.item.sidebar-button-padding {
    padding-bottom: 20px;
}