span.limited-width-string-117px {
    vertical-align: -3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 110px;
    display: inline-block;
}

span.limited-width-string-200px {
    vertical-align: -3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    display: inline-block;
}