@import "../Common/Variables";
@import "../Common/Mixins";


@media (min-width: 1025px) {
    .fileData {
        visibility: hidden;
    }
}

tr:hover .fileData {
    visibility: visible;
}

th:hover .fileData {
    visibility: visible;
}