@import "../Common/Variables";
@import "../Common/Mixins";


@media (min-width: 1025px) {
    .fileData {
        visibility: hidden;
    }
}

tr:hover .fileData {
    visibility: visible;
}

th:hover .fileData {
    visibility: visible;
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}