@media (min-width: 1025px) {
    .fileData {
        visibility: hidden;
    }
}

tr:hover .fileData {
    visibility: visible;
}

th:hover .fileData {
    visibility: visible;
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}
@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

.createFolderPlacement {
    padding-right: 8px;
    vertical-align: middle;
    color: #448aff;
}

.pointer-cursor {
    cursor: pointer;
}

.checkbox-margin {
    margin: 15px;
}

.checkbox-margin {
    margin: 8px;
}

.black-text {
    color: #000;
}

.searchbar {
    margin: 20px 0 20px 0;
}

.favorite-margin {
    margin: 10px;
}ยก

.create-folder {
    padding-right: 8px;
    padding-left: 43px;
}

.create-folder-input {
    padding-left: 22px;
}