# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/integration-testing/envoy/clusters.yaml
/integration-testing/envoy/config.yaml
/integration-testing/envoy/rds.yaml
