/**
 * Tables - Datatables
 */

@import '../Common/Variables';
@import '../Common/Mixins';

table.dataTable {
    border-bottom: 0; //1px solid rgba($gray-base,.26) !important;

    &,
    & th,
    & td {
        @include box-sizing(border-box !important);
    }

    tbody tr {
        background-color: transparent !important;
        &:nth-of-type(odd) {
            background-color: rgba($gray-base,.06) !important;
        }
    }
    thead th,
    thead td {
        border-bottom: 0 !important;
    }
}

// Input styles
.dataTables_wrapper .dataTables_filter input,
.dataTables_wrapper select,
.dataTables_wrapper .form-control {
    box-shadow: none;
    // -webkit-appearance: none;
    height: 30px; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    //color: $gray;
    background-color: transparent !important;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid rgba($gray-base,.16);
    &:focus {
        border-bottom-color: $brand-info !important;
    }

}

// Pagination styles

.dataTables_wrapper > .dataTables_paginate .paginate_button {
    background-image: none !important;
    background-color: rgba($gray-base,.26) !important;
    border: 0 !important;
    border-radius: 50%;
    @include transition(none);
    &:hover {
        background-color: $brand-info !important;
        color: #fff !important;
    }
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: inherit !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: $brand-info !important;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background-color: rgba($gray-base,.26) !important;
    color: inherit !important;
}

table.dataTable.no-footer {
    border-bottom: 0;
}

table.dataTable tfoot th, table.dataTable tfoot td {
    border-top: 0;
}

// Support for cards
.card .dataTable {
    width: 100% !important;
}

.card .dataTables_wrapper>.row,
.panel .dataTables_wrapper>.row {
    margin: 0;
}

/* Fix datatables image paths for distribution */

table.dataTable thead .sorting {
  background-image: url("../../img/sort_both.png");
}
table.dataTable thead .sorting_asc {
  background-image: url("../../img/sort_asc.png");
}
table.dataTable thead .sorting_desc {
  background-image: url("../../img/sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
  background-image: url("../../img/sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
  background-image: url("../../img/sort_desc_disabled.png");
}
