.stream {
    height: 500px;
    overflow: auto;
}

.input-group > .form-control.time-selection {
    width: 100px;
}

.text-area-no-resize {
    resize: none;
}

.job-result-box {
    padding-bottom: 16px;
}

.cards.card-margin {
   margin-top: 20px
}