:root {
    --defaultShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.10) 0px -3px 12px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --backgroundCard: #ffffff;
    --textPrimary: #212529;
}

@media (prefers-color-scheme: dark) {
    :root {
        --defaultShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.10) 0px -3px 12px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        --backgroundCard: #2A313B;
        --textPrimary: #fff;
    }
}

@font-face {
    font-family: 'Inter';
    src: url("./Inter.woff2");
    font-display: swap;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-family: 'Inter';
    background-color: #21262d;
}

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    padding: 0;
    color: var(--textPrimary);
}

.content {
    max-width: 1200px;
    margin-top: 32px;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.block {
    display: block;
}

.provider-image {
    max-width: 100%;
    height: 64px;
    margin-right: 16px;
}

.vertical-centering {
    margin-top: auto;
    margin-bottom: auto;
}

.half-width {
    width: 50%;
}

.card-group {
    width: 100%;
    display: flex;
}

.card-group>.card {
    width: calc(50% - 10px);
}

.card-group>.card:first-child {
    margin-right: 10px;
}

.card-group>.card:nth-child(2) {
    margin-left: 10px;
}

.card {
    border-radius: 10px;
    box-shadow: var(--defaultShadow);
    background-color: var(--backgroundCard);
    color: var(--textPrimary);
    padding: 20px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}




/* https://codepen.io/Beowolve/pen/LYzgWmb  */

:root {
    --green: #73bf69;
    --yellow: #fade2a;
    --red: #f2495c;
}

@property --o {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

.container {
    width: 100%;
    display: flex;
}

.gauge {
    margin: 10;
}

.gauge>svg {
    z-index: 1;
    position: relative;
    background: 0;
    margin-top: 15%;
    width: 100%;
}

.gauge>svg>text {
    text-anchor: middle;
    fill: var(--textPrimary);
}

.gauge {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    aspect-ratio: 2 / 1.5;
    width: 50%;

    --background-color: var(--backgroundCard);
    --gauge-background-color: #333;

    --green-deg: 185deg;
    --yellow-deg: 208deg;
    --red-deg: 230deg;

    color: var(--fill-color);

    /* outer ring */
    background:
        radial-gradient(circle at 50%70%,
            var(--background-color) 0 51%,
            #0000 0 63%,
            var(--background-color) 63.1%),
        conic-gradient(from -115deg at 50%70%,
            var(--green) 0 var(--green-deg),
            var(--yellow) 0 var(--yellow-deg),
            var(--red) 0 var(--red-deg),
            var(--green) 0 230deg,
            var(--background-color) 0)
}

.gauge::after {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;

    /* inner ring */
    background:
        radial-gradient(circle at 50%70%,
            var(--background-color) 0 45%, #0000 45.1% 59%,
            var(--background-color) 59.1%),
        conic-gradient(from -115deg at 50%70%,
            var(--fill-color) 0 min(2.3deg * var(--fill-percentage), 230deg),
            var(--gauge-background-color) 0 230deg,
            var(--background-color) 0);
    clip-path: circle(50% at 50% 70%)
}