{
  "plugins": [
               "babel-plugin-styled-components", 
               "@babel/plugin-proposal-numeric-separator",
               "@babel/plugin-proposal-export-default-from",
               "@babel/plugin-proposal-export-namespace-from",
               "@babel/plugin-proposal-object-rest-spread",
               ["@babel/plugin-proposal-decorators", {"legacy": true}],
               ["@babel/plugin-proposal-class-properties", {"loose": true}],
             ],
  "presets": [
               "@babel/preset-react", 
               "@babel/preset-typescript", 
               ["@babel/preset-env", { 
                                       "modules": false, 
                                       "useBuiltIns": "usage", 
                                     }
               ],
             ],
  // old settings
  // "plugins": ["transform-object-rest-spread", "transform-do-expressions", "babel-plugin-styled-components"],
  // "presets": ["env", "react"]
}

// babel stage-X has been removed in babel 7
// https://github.com/babel/babel/blob/master/packages/babel-preset-stage-0/README.md