/node_modules/*
/dist/*
/coverage/*
/.vscode/settings.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

/tests/test_data.json
/tests/test_data_dev.json
/tests/test_data_production.json
/tests/test_data_local_dev.json
/test_data/**