Email change requested for your UCloud account

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>We have received a request to change the email which is associated with your UCloud account. </p>
<p>
    If you did not initiate this request, please contact our support team by replying to this email.
</p>
