Password reset requested on UCloud

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>We have received a request to reset your UCloud account password. To proceed, follow the link below.</p>

<p>
    <a href="{{ domain }}/app/login?password-reset=true&token={{ token }}">
        {{ domain }}/app/login?password-reset=true&token={{ token }}
    </a>
</p>

<p>
    If you did not initiate this request, feel free to disregard this email, or reply to this email for support.
</p>
