One or more of your projects need attention on UCloud

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    The following allocations need attention:
    <ul>
        {% for resource in resources %}
            <li>
                {{ resource.workspaceTitle }}:
                <ul>
                    <li>Resource: {{ resource.category }}</li>
                    <li>Provider: {{ resource.provider }}</li>
                    <li>Status: {{ resource.state }}</li>
                    {% if resource.notificationType == "expiresSoon" %}
                        <li>Expires at: {{ resource.expiresAt }}</li>
                        <li>Quota: {{ resource.quota }}</li>
                    {% else %}
                        <li>Remaining: {{ resource.remaining }}</li>
                        <li>Active usage: {{ resource.activeUsage }}</li>
                        <li>Effective total: {{ resource.effectiveTotal }}</li>
                        <li>Percent remaining: {{ resource.percentRemaining }}</li>
                    {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</p>

<p>
    If needed, you can request additional resources from the resource page within the specific workspace.
</p>

{{ emailOptOut | safe }}
