.ui.list > .item.itemPadding {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.footer {
    clear: both;
    border-top: 1px solid rgba(34,36,38,.15);
    margin-top: 16px;
    padding-top: 16px;
    width: 100%;
}

.clear {
    clear: both;
}


.float-right {
    float: right;
}

@media(max-width: 767px) {
   .mobile-padding {
       padding: 10px 10px 10px 10px;
   }
   .mobile-left-padding {
       padding-left: 10px;
   }
   .mobile-right-padding {
       padding-right: 10px;
   }
   .ui.button.mobile-left-margin {
       margin-left: 10px;
   }
   .ui.button.mobile-right-margin {
      margin-right: 10px;
   }
}