[api](../../index.md) / [dk.sdu.cloud.project.api](../index.md) / [UserProjectSummary](index.md) / [needsVerification](./needs-verification.md)

# needsVerification

`val needsVerification: `[`Boolean`](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin/-boolean/index.html)