{
  "storage": {
    "host": "localhost",
    "port": 1247,
    "zone": "tempZone",
    "resource": "radosRandomResc",
    "authScheme": "PAM",
    "sslPolicy": "CS_NEG_REQUIRE"
  },

  "connection": {
    "kafka": {
      "servers": [
        {
          "hostname": "localhost"
        }
      ]
    },
    "zookeeper": {
      "servers": [
        {
          "hostname": "localhost"
        }
      ]
    }
  },

  "tus": null,

  "refreshToken": "TODO"
}
