.ui.feed > .event.notification {
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    width: 350px;
}

.notification-trigger {
    cursor: pointer;
}

.ui.feed > .event.notification.unread {
    background-color: #ddd;
}

.ui.feed > .event.notification.unread:hover, .notification.read:hover {
    background-color: #eee;
}