Your grant application has been approved on UCloud

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    We are happy to inform you that your application for resources from '{{ applicantProjectTitle }}' has been approved.
</p>

{{ emailOptOut | safe }}
