{{ projectTitle }} has been approved

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    The application from {{ sender }} in the project '{{ projectTitle }}', have been approved.
</p>

{{ emailOptOut | safe }}
