{{ projectTitle }} has been withdrawn

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    An application for '{{ projectTitle }}' has been withdrawn by {{ sender }}.
</p>

{{ emailOptOut | safe }}
