New comment in {{ applicantProjectTitle }}

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    You have received a new comment from {{ sender }} in an application regarding the project: '{{ applicantProjectTitle }}'.
</p>

{{ emailOptOut | safe }}
