New application: {{ applicantProjectTitle }}

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    You have received a new application from {{ sender }} for the project
    '{{ applicantProjectTitle }}'.
</p>

{{ emailOptOut | safe }}
