Your grant application has been rejected on UCloud

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    We regret to inform you that your application for resources from '{{ applicantProjectTitle }}' has been rejected.
</p>

{{ emailOptOut | safe }}
