{{ projectTitle }} has changed been updated

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    The status of the application from {{ sender }} in the project '{{ projectTitle }}' has been changed
    to {{ status }}.
</p>

{{ emailOptOut | safe }}
