{{ applicantProjectTitle }} has been transferred to {{ receiverProject }}

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    You have been transferred an application from the project '{{ senderProject }}' to your project
    '{{ receiverProject }}'. Application is called: '{{ applicantProjectTitle }}'
</p>

{{ emailOptOut | safe }}