Your grant application for {{ projectTitle }} has been updated

{{ bodyStart }}

<p>Dear {{ recipient }},</p>
<p>
    Your application for resources in project '{{ projectTitle }}' has been changed by
    {{ sender }}. Please review the changes to the application.
</p>

{{ emailOptOut | safe }}
