{{ projectTitle }} has been updated

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    The application for resources regarding project '{{ receivingProjectTitle }}' in project
    '{{ projectTitle }}' has been changed by {{ sender }}.
</p>

{{ emailOptOut | safe }}
