Grant application has been withdrawn on UCloud

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    '{{ sender }}' has withdrawn the application for resources to '{{ applicantProjectTitle }}'.
</p>

{{ emailOptOut | safe }}
