/* TODO: move css into respective component folders. */

body,
h3,
pre {
    margin: 0;
}

* {
    font-family: 'JetBrains Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    src: url(/public/JetBrainsMono-VariableFont_wght.ttf) format('ttf');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.flex {
    display: flex;
}

html {
    --black: #000;
    --white: #fff;
    --textBlack: #1e252e;
    --lightGray: #f5f7f9;
    --midGray: #c9d3df;
    --gray: #8393A7;
    --darkGray: #53657d;
    --lightBlue: #D9E9FF;
    --lightBlue2: #cdf;
    --blue: #006aff;
    --darkBlue: #049;
    --lightGreen: #00ff77;
    --green: #00C05A;
    --darkGreen: #00823c;
    --lightRed: #fcc;
    --red: #c00;
    --darkRed: #800;
    --orange: #ff6400;
    --darkOrange: #ff5722;
    --lightPurple: #ecf;
    --purple: #70b;
    --yellow: #ffed33;
    --text: var(--textBlack, #f00);
    --textHighlight: var(--blue, #f00);
    --headerText: var(--white, #f00);
    --headerBg: #006aff;
    --headerIconColor: #fff;
    --headerIconColor2: #c9d3df;
    --borderGray: var(--midGray, #f00);
    --paginationHoverColor: var(--lightBlue, #f00);
    --paginationDisabled: var(--lightGray, #f00);
    --iconColor: var(--darkGray, #f00);
    --iconColor2: var(--gray, #f00);
    --FtIconColor: #f5f7f9;
    --FtIconColor2: #c9d3df;
    --FtFolderColor: var(--gray, #f00);
    --FtFolderColor2: var(--midGray, #f00);
    --spinnerColor: var(--blue, #f00);
    --tableRowHighlight: var(--lightBlue, #f00);
    --appCard: #ebeff3;
    --wayfGreen: #66b340;
    --appStoreFavBg: #e8f1fc --invertedThemeColor: #fff;
    --fixedBlack: #000;
    --activeSpreadsheet: #dcebf6;
    --lightOrange: #ffc107;

    /* TODO This is not currently enforced in the header */
    --headerHeight: 48px;
    /* TODO This is not currently enforced in the sidebar */
    --sidebarWidth: 190px;

    font-feature-settings: "cv05" on, "cv09" on, "cv02" on, "calt" on, "ss03" on;
}

html.light {
    --white: #fff;
    --tableRowHighlight: var(--lightBlue, #f00);
    --black: #000;
    --text: #1e252e;
    --lightGray: #f5f7f9;
    --lightBlue: #E6F1FF;
    --midGray: #c9d3df;
    --paginationDisabled: var(--lightGray, #f00);
    --paginationHoverColor: var(--lightBlue, #f00);
    --appCard: #ebeff3;
    --borderGray: var(--midGray, #f00);
    --invertedThemeColor: #000;
    --projectHighlight: #dfffee;
    --appStoreFavBg: #e8f1fc;
    --activeSpreadsheet: #dcebf6;
    --modalShadow: rgba(255, 255, 255, 0.75);
}

html.dark {
    --white: #282c35;
    --tableRowHighlight: #000;
    --black: #a4a5a9;
    --text: #e5e5e6;
    --lightGray: #111;
    --lightBlue: #000;
    --midGray: #555;
    --paginationDisabled: #111;
    --paginationHoverColor: #444;
    --appCard: #131616;
    --borderGray: #111;
    --invertedThemeColor: #fff;
    --projectHighlight: #00c05a;
    --appStoreFavBg: #00204d;
    --activeSpreadsheet: #000;
    --modalShadow: rgba(0, 0, 0, 0.75);
}

.header {
    height: 48px;
    background-color: var(--headerBg);
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 500;
}

.sidebar>div {
    margin-top: 4px;
}

.sidebar {
    height: 100vh;
    width: 190px;
    position: fixed;
    padding-top: calc(var(--headerHeight) + 8px);
    padding-left: 12px;
    background-color: var(--lightGray);
}

.vertically-centered {
    margin-top: auto;
    margin-bottom: auto;
}

.ucloud-title {
    padding-left: 12px;
    font-size: 18px;
}

.header-input {
    height: calc(var(--headerHeight) - 12px);
    border-radius: 4px;
    margin: 0;
    margin-right: 8px;
    border: none;
    padding-left: 8px;
    border-width: 0px;
}

.header-input::placeholder {
    text-align: center;
    font-size: 18px;
    opacity: 1;
    color: white;
}

.header-input:focus::placeholder {
    color: transparent;
}

.header-dropdown {
    height: calc(var(--headerHeight) - 12px);
    width: 280px;
    border-width: 0px;
    background-color: #3b8cfc;
    border-radius: 4px;
    color: #fff;
}

.header-input:focus {
    outline: none;
}

.header-search {
    width: 550px;
}

.header-input:not(:focus) {
    background-color: #3b8cfc;
}

.auto-margin {
    margin: auto auto auto auto;
}

.white-text {
    color: #FFF;
}

.connection {
    margin-left: 8px;
    font-size: 18px;
    padding-left: 8px;
    padding-right: 8px;
}

.red-background {
    border-radius: 8px;
    background-color: var(--red);
}

.ml-10px {
    margin-left: 10px;
}

.ml-12px {
    margin-left: 12px;
}

.ml-24px {
    margin-left: 24px;
}

.mb-12px {
    margin-bottom: 12px;
}

.mb-8px {
    margin-bottom: 12px;
}

.mr-8px {
    margin-right: 8px;
}

.mb-6px {
    margin-bottom: 6px;
}

[data-active="true"] {
    font-weight: bold;
}

div[data-onechild="true"] {
    display: flex;
}

div[data-singular="true"] {
    cursor: pointer;
}

div[data-omitindent="true"] {
    margin-left: 10px;
}

.pointer {
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: var(--white);
    z-index: 80;
}

.dropdown-row {
    padding: 3px 5px 3px 5px;
}

.dropdown-row:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown-row:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown-row[data-row-active="true"] {
    background-color: var(--blue);
}

.dropdown-row:not([data-row-active="true"]):hover {
    background-color: var(--lightBlue);
    cursor: pointer;
}

.button {
    background-color: var(--blue);
    color: var(--white);
    padding: 4px 12px 4px 12px;
    border: none;
    border-radius: 4px;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.2;
}

.filter-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}