html {
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    margin: 0;
}

code {
    font-family: 'JetBrains Mono', monospace;
    background-color: #e1e3e5;
    padding: 4px;
    border-radius: 4px;
}

:root {
    --header-size: 64px;
}

header {
    background: rgb(0, 106, 255);
    color: #ffffff;
    height: var(--header-size);
    width: 100vw;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    /*box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px, rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;*/
}

header a {
    color: white;
    text-decoration: none;
    font-size: 120%;
}

header .logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 15px;
    margin-left: 15px;
}

header .logo img {
    width: 38px;
}

header .logo span {
    font-size: 150%;
}

header .middle, header .right {
    flex-grow: 1;
    display: flex;
    gap: 15px;
    margin: 0 15px;
}

header .middle {
    z-index: 900;
}

header .logo, header .right {
    z-index: 1000;
}

header .middle {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

@media screen and (max-width: 1100px) {
    header .middle {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    header .right {
        display: none;
    }
}

header .right {
    justify-content: end;
}

* {
    box-sizing: border-box;
}

.slide-1 {
    height: calc(100vh - var(--header-size));
    color: #ffffff;
    background: rgb(0, 106, 255);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.slide-1 h1 {
    margin: 0;
    text-align: center;
    font-size: 3rem;
}

.slide-1 h2 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
}

.slide-1 p {
    text-align: center;
    font-size: 1.5rem;
}

.slide-1 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

}

.slide-1 .action {
    display: flex;
    justify-content: center;
    gap: 16px;
}

@media screen and (max-width: 600px) {
    .slide-1 .action {
        flex-direction: column;
    }

    .slide-1 .action .btn {
        width: 100%;
    }
}

.slide-1 .slide-content, .slide-1 .slide-image {
    flex-grow: 1;
    min-height: calc((100vh - var(--header-size)) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 599px) {
    .slide-1 .slide-image {
        display: none;
    }
}

.slide-1 .slide-image {
    align-items: center;
}

.slide-1 .btn {
    font-size: 2rem;
    width: 35%;
}

@media screen and (max-width: 800px) {
    .hide-small {
        display: none;
    }
}

.btn {
    display: block;
    text-decoration: none;
    user-select: none;
    background-color: black;
    border-radius: 15px;
    font-size: 120%;
    padding: 16px;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.btn.secondary {
    color: black;
    background: white;
}

.slide-1 .version {
    color: rgb(150, 150, 150);
    font-size: 24px;
}

.slide {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 64px;
    padding: 0 64px;
    overflow: auto;
}

.slide .text {
    display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.slide .headings {
    margin: 16px 0;
}

.slide .headings h1 {
    font-size: 3rem;
}

.slide .headings h2 {
    font-size: 2rem;
}

.slide .text p {
    font-size: 1rem;
}

.slide img {
    width: 25vw;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    .slide img {
        display: none;
    }
}

.slide.odd {
    background: white;
    color: black;
}

.slide.even {
    background: black;
    color: white;
}

.slide.even img {
    order: 0;
}

.slide.even .text {
    order: 1;
}

.slide.odd .text {
    order: 1;
}

.slide.odd img {
    order: 2;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

.btn.github {
    display: flex;
    gap: 8px;
    flex-direction: row;
}

.btn.github img {
    width: 28px;
}