html {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 64px;
}

code {
    font-family: 'JetBrains Mono', monospace;
    background-color: #e1e3e5;
    padding: 4px;
    border-radius: 4px;
}

.summary {
    color: rgb(100, 100, 100);
    font-style: italic;
    font-size: 120%;
}

th ul, td ul {
    margin: 0;
}

li {
    margin: 16px;
}

table {
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin: 16px 0;
}

tr {
    border: 1px solid black;
    vertical-align: top;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

pre > code {
    background-color: unset;
}

pre {
    background-color: #282c35;
    color: #ffffff;
    border-radius: 8px;
    padding: 16px;
    overflow: auto;
}

figcaption::before {
    content: "Figure: ";
    font-weight: bold;
}

figcaption {
    text-align: left;
}

a {
    color: #006aff;
}

doc-prop {
    display: block;
    margin: 32px 0;
}

doc-prop .top-line {
    border-top: 1px solid rgb(100, 100, 100);
    padding-top: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
}

doc-prop .is-required {
    color: red;
}

doc-prop .default-value::before {
    content: "(Default: ";
}

doc-prop .default-value::after {
    content: ")";
}

doc-prop section, doc-prop doc-sealed-container {
    margin-left: 40px;
}

input[type=checkbox] {
    height: 24px;
    width: 24px;
}

doc-sealed-container {
    display: block;
}


doc-sealed-container doc-prop-container div.collapsible > doc-prop {
    margin-left: 40px;
}

doc-prop-container[collapsed] .detailed {
    display: none;
}

* {
    box-sizing: border-box;
}

doc-todo {
    padding: 16px;
    display: block;
    text-align: center;
    width: 100%;
    background: red;
    color: white;
}