html {
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
}

body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 19px;
    line-height: 1.5;
    margin-bottom: 64px;
}

code {
    font-family: 'JetBrains Mono', monospace;
    background-color: #e1e3e5;
    padding: 4px;
    border-radius: 4px;
}

.summary {
    color: rgb(100, 100, 100);
    font-style: italic;
    font-size: 120%;
}

th ul, td ul {
    margin: 0;
}

li {
    margin: 16px;
}

table {
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    margin: 16px 0;
}

tr {
    border: 1px solid black;
    vertical-align: top;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

figcaption::before {
    content: "Figure: ";
    font-weight: bold;
}

figcaption {
    text-align: left;
}

a {
    color: #006aff;
}

input[type=checkbox] {
    height: 24px;
    width: 24px;
}

* {
    box-sizing: border-box;
}

doc-todo {
    padding: 16px;
    display: block;
    text-align: center;
    width: 100%;
    background: red;
    color: white;
}