div.ui.menu-padding.menu {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #2185d0;
    color: white;
}

div.ui.menu-padding.menu div a.item.sidebar-button-padding {
    padding-bottom: 20px;
}

.logo {
    color: white;
    font-weight: 200;
}

@media(min-width: 1000px) {
    .logo {
        width: 236px;
    }

    .header-search {
        width: 450px;
    }
}