You have been invited to {{ projectTitle }}

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    You have been invited to join the project '{{ projectTitle }}' on UCloud.
</p>

{{ emailOptOut | safe }}
