Role change in {{ projectTitle }}

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    The role of the user {{ subjectToChange }} was changed to
    {{ roleChange }} in the project '{{ projectTitle }}'.
</p>

{{ emailOptOut | safe }}
