User has been removed from {{ projectTitle }}

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    The user '{{ leavingUser }}' has been removed from the project '{{ projectTitle }}'.
</p>

{{ emailOptOut | safe }}
