{{ leavingUser }} has left {{ projectTitle }}

{{ bodyStart }}

<p>Dear {{ recipient }},</p>

<p>
    The user {{ leavingUser }} has left the project '{{ projectTitle }}'.
</p>

{{ emailOptOut | safe }}
